GEMINI_API_KEY=AIzaSyD6g0U8NSc3xm08Ngs55HLuTEh02JGce9I
APP_URL=https://magnificent-truffle-3bb510.netlify.app/
EMAIL_USER=mlbbguildbangladesh.com
EMAIL_PASS=hdbqcnavbrqvrgve
FIREBASE_SERVICE_ACCOUNT_JSON=
